<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Flask</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="container">
    <div class="content-container quarter-half">
      <div class="content">
        <h5>Downscaling GCMs through Morphing</h5>
        <p>In 2005 Belcher et. al published the morphing method, a simplefied method 
           to take the output of Global Climate Models (GCM) and apply it to weather 
           variables in EPW files.</p>
      </div>
    </div>
    <div class="content-container quarter">
      <div class="content left">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
      <div class="content right">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
    </div>
    <div class="content-container quarter">
      <div class="content left">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
      <div class="content right">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
    </div>
    <div class="content-container quarter">
      <div class="content left">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
      <div class="content right">
        <h5>Boundary Conditions</h5>
        <p></p>
      </div>
    </div>
    <div class="content-container quarter-half">
      <div class="content">
        <h5>References</h5>
        <p></p>
      </div>
    </div>
  </div>

  {% endblock %}
</body>

<footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="{{ url_for('static',     filename='scripts/scripts.js') }}"></script>
</footer>

</html>