<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Morph EPW Files Anywhere</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content-container">
    <div class="content left">
      <h5>A Platform for Future Weather Files</h5>
      <p>Energy Plus Weather (EPW) files are a pillar of energetic design in the built enrivonment. With this 
        platform scientists, engineers, and designers can now easily access Global Climate Models and their outputs 
        and withe click of a button apply the potential future climate conditiosn to EPW files that they are using 
        for their own work.</p>
      <h5>Uncertain Conditions</h5>
      <p>The future of the climate is anything less than certain. Our ability to model and simulate the complex 
        interactions that constitute the climate improves with every year but our capacity ot predict human behavior 
        is still relegated to scenario prediction. Thus in this platform we provide access to an ensemble of possible
        warming scenarios, but also the percentiles potential within each scenario.</p>
      <h5>Website Overview</h5>
      <p>In the 'About' tab there is information about the morphing method that is applied in this application. This 
        is a form of downscaling larger climate models both spatially and temporally into the form of an EPW. The 
        'Morpher' tab contains an interactive application for anyone with an EPW file. 
      </p>
    </div>
    <div class="content right">
      
      <div class="image-container"> 
        <img class="image contain" src="/static/ssps.jpg"></img> 
      </div>

    </div>
  </div>

  {% endblock %}
</body>

</html>