<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Morph EPW Files Anywhere</title>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content-container">
    <div class="content left">
      <h5>A Platform for Weather Files</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a reprehenderit laborum nostrum laudantium
        aliquam aliquid architecto ea labore nam voluptatibus, recusandae expedita eveniet rem soluta, perferendis
        fugiat, aperiam blanditiis?</p>
      <h5>Uncertain Conditions</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a reprehenderit laborum nostrum laudantium
        aliquam aliquid architecto ea labore nam voluptatibus, recusandae expedita eveniet rem soluta, perferendis
        fugiat, aperiam blanditiis?</p>
      <h5>Application Content</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit a reprehenderit laborum nostrum laudantium
        aliquam aliquid architecto ea labore nam voluptatibus, recusandae expedita eveniet rem soluta, perferendis
        fugiat, aperiam blanditiis?</p>
    </div>
    <div class="content right">
      
      <div class="image-container"> 
        
        <img class="image contain" src="/static/ssps.jpg"></img> 
      </div>

    </div>
  </div>

  {% endblock %}
</body>

</html>