<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Morphing Application</title>
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>

<body>
  {% extends "template.html" %}
  {% block content %}

  <div class="content-container">
    <div class="content left">
      <h2>Configuration</h2>
      <form method="POST" class="pure-form" name='configuration' id="configuration" enctype="multipart/form-data"
        action="{{ url_for('morpher') }}">
        <fieldset>
          <legend>Give your project a name:</legend>
          <div>
            <!-- <label for="project-name">Project Name:</label> -->
            <input type="text" id="project-name" name="project-name">
          </div>
        </fieldset>


        <fieldset>
          <legend>Upload a baseline EPW file:</legend>
          <div>
            <!-- <label for="epw-file">Baseline EPW:</label> -->
            <input type="file" id="epw-file" name="epw-file" accept=".epw">
          </div>
        </fieldset>

        <fieldset>
          <legend>Set the baseline period:</legend>
          <div>
            <!-- <input type="range" class="two-val-range-slider" id="baseline-period" name="baseline-period"> -->
            <label id="baseline-range-field">
              <section class="two-val-range-slider">
                <span class="rangeValues" id="baseline-period" name="baseline-period"></span>
                <input value="1965" min="1960" max="2030" step="1" class="baseline-slider" type="range">
                <input value="1995" min="1960" max="2030" step="1" class="baseline-slider" type="range">
                <input type="text" id="hidden-baseline-range" name="hidden-baseline-range" style="display: none;">
              </section>
            </label>
            
            <label class="checkbox-field">
              <input type="checkbox" id="use-epw" name="use-epw" value="True" onclick=checkBox(this)>
              <span class="label-body">Detect from EPW</span>
            </label>
          </div>
        </fieldset>

        <fieldset>
          <legend>Select a one or more climate pathways:</legend>
          <div>
            <!-- <label class="checkbox"> -->
            <input type="checkbox" id="ssp126" name="climate-pathways" value="Best Case Scenario">
            <span class="label-body">Best Case Scenario</span>
            <input type="checkbox" id="ssp245" name="climate-pathways" value="Middle of the Road">
            <span class="label-body">Middle of the Road</span>
            <input type="checkbox" id="ssp585" name="climate-pathways" value="Worst Case Scenario">
            <span class="label-body">Worst Case Scenario</span>
            <!-- </label> -->
          </div>
        </fieldset>

        <fieldset>
          <legend>State the future years (ex. 2030,2050):</legend>
          <div>
            <!-- <label for="future-years">Future Years:</label> -->
            <input type="text" id="future-years" name="future-years">
          </div>
        </fieldset>

        <fieldset>
          <legend>Select one or more percentiles of warming:</legend>
          <div>
          
            <input type="checkbox" id="1st" name="percentiles" value="1">
            <span class="label-body">1st</span>
            <input type="checkbox" id="5th" name="percentiles" value="5">
            <span class="label-body">5th</span>
            <input type="checkbox" id="10th" name="percentiles" value="10">
            <span class="label-body">10th</span>
            <input type="checkbox" id="25th" name="percentiles" value="25">
            <span class="label-body">25th</span>
            <input type="checkbox" id="50th" name="percentiles" value="50">
            <span class="label-body">50th</span>
            <input type="checkbox" id="75th" name="percentiles" value="75">
            <span class="label-body">75th</span>
            <input type="checkbox" id="90th" name="percentiles" value="90">
            <span class="label-body">90th</span>
            <input type="checkbox" id="95th" name="percentiles" value="95">
            <span class="label-body">95th</span>
            <input type="checkbox" id="99th" name="percentiles" value="99">
            <span class="label-body">99th</span>
            
          </div>
        </fieldset>


        <fieldset>
          <legend>Select variables to morph:</legend>
          <div>
            <!-- <label class="checkbox"> -->
            <input type="checkbox" id="tas" name="variables" value="Temperature">
            <span class="label-body">Temperature</span>
            <input type="checkbox" id="relhum" name="variables" value="Humidity">
            <span class="label-body">Relative Humidity</span>
            <input type="checkbox" id="wind" name="variables" value="Wind">
            <span class="label-body">Wind Speed</span>
            <input type="checkbox" id="rad" name="variables" value="Clouds and Radiation">
            <span class="label-body">Clouds & Radiation</span>
            <input type="checkbox" id="psl" name="variables" value="Pressure">
            <span class="label-body">Pressure</span>
            <input type="checkbox" id="dewpt" name="variables" value="Dew Point">
            <span class="label-body">Dew Point</span>
            <!-- </label> -->
          </div>
        </fieldset>

        <!-- <label for="submit"></label> -->
        <!-- <input type="submit" id="submit" name="submit"> -->
        {{ captcha_html(captcha)|safe }}
        <button id="submit-form" type="button">Submit</button>
        <!-- <input type="text" name="submit-btn" id="submit-btn"> -->
        <!-- <button type="submit">submit data</button> -->
        <!-- <button id="lock">Lock</button> -->
        <!-- <label for="reset-input"></label> -->
        <input type="reset" id="reset-input" name="reset-input">
        <div class="loader-container">
          <div class="loader"></div>
        </div>


      </form>
      
    </div>
    <div class="content right">
      <div class="morph-output-body">
        <div id="welcomeDiv"></div>
        <div class="morph-body nine">
          <h2>Morphng Output</h2>
          <p id="temp-output" style="display: none;"></p>
          <p>Once the model data is accessed and the files morphed a zip file will be made available to download.</p>
        </div>
        <div class="morph-body one">
          <!-- <a class="morph-output-download" id="exec-get-results" href="/exec-get-results">Download Results</a> -->
          <!-- <a class="morph-output-download" id="exec-get-results" download>Download Results</a> -->

          <a class="morph-output-download" id="exec-get-results" href="/download-morph-results" download
            target="_blank">Download Results ></a>
        </div>
      </div>
    </div>

  </div>
  </div>


  {% endblock %}
</body>

<footer>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script type="text/javascript" src="../jszip.js"></script>
  <script src="{{ url_for('static',     filename='scripts/scripts.js') }}"></script>
</footer>

</html>